# Python cache and bytecode
__pycache__/
*.py[cod]
*.pyo

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.env.* 
*.env
.venv/
.venv/*

# OS files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Data & outputs to ignore
data/raw/
data/processed/
model/*.pkl
reports/*.png
reports/*.pdf
outputs/rf_mean_pipeline.pkl
